/*GENERAL*/ 
* {
  font-family: 'Hind Vadodara', sans-serif;
  color: #594a4e;
}

h2 {
  font-family: 'Poppins', serif;
  color:  #33272a;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  color: #33272a;
}

/*FLEX GENERAL*/ 
.flex{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  align-items: center;
}

/*PARTE 1*/ 
.parte1{
  background-color: #faeee7;
  padding: 20px;
  border-radius: 10px;
  width:95%
}

.item1{
  display: flex;
  align-items: center;
}

/*IMAGEN DE PERFIL*/ 
.foto {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 20px;
}

/*BARRA DE OPCIONES*/ 
.opciones{
  background-color: #faeee7;
  padding: 10px 0;
  border-radius: 10px;
  width:98%
}

.item2 ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.item2 li {
  display: inline;
}

.item2 a {
  color: #33272a; 
  font-size: 1.25em; 
  text-decoration: none;
}

.item2 a:hover {
  color: #ffc6c7; 
}

/*PARTE 2*/ 
.parte2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  width: 98%;
}
/*#faeee7*/ 
.parte2 > div {
  background-color: #f6e7fa;
  padding: 20px;
  border-radius: 10px;
}

/*FORMULARIO*/ 
form {
  display: grid;
  gap: 3px;
}

form input, form textarea {
  width: 99%;
  padding: 10px 0.5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #ffc6c7;
  color: #33272a;
  font-weight: bold;
  font-size:medium;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #fffffe;
}

/*PARTE 3*/ 
.parte3{
  grid-column: 1 / span 2;
}

footer{
  text-align: center;
}

/*MAPA*/
.mapa{
  justify-content: space-around;
}
/*VIDEO*/
.video{
  justify-content: space-around;
}
